h1 {
  text-align: center;
  font-family: "Arial", sans-serif;
}

h2 {
  text-align: center;
}

div.freelancer {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 200px;
  text-align: center;
  font-family: "Arial", sans-serif;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
